/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select { /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.works__title, .footer__title, .advantages__title, .filter__input, .custom-check__input {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.works, .customers, .team, .services {
  padding-top: 94px;
  padding-bottom: 94px;
}

.modal__btn-close, .footer__contact-link, .customers__link, .header__contact-link, .site-nav__link {
  text-decoration: none;
}
.modal__btn-close:hover, .footer__contact-link:hover, .customers__link:hover, .header__contact-link:hover, .site-nav__link:hover, .modal__btn-close:focus-visible, .footer__contact-link:focus-visible, .customers__link:focus-visible, .header__contact-link:focus-visible, .site-nav__link:focus-visible {
  color: #2196f3;
}

.modal__btn-close, .filter__label, .ordering__btn, .subscribe__btn, .hero__btn {
  display: block;
  font-family: inherit;
  font-size: 16px;
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
}

.ordering__btn, .subscribe__btn, .hero__btn {
  padding: 10px 0;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: white;
  line-height: 1.88;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #2196f3;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.ordering__btn:hover, .subscribe__btn:hover, .hero__btn:hover, .ordering__btn:focus-visible, .subscribe__btn:focus-visible, .hero__btn:focus-visible {
  background-color: #188ce8;
}

.filter__label {
  padding: 6px 22px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03em;
  color: #212121;
  line-height: 1.63;
  background-color: #f5f4fa;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__label:hover, .filter__label:focus-visible {
  color: white;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.ordering__terms-link {
  position: relative;
  text-decoration: none;
}
.ordering__terms-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 4px;
  width: 100%;
  height: 1px;
  display: block;
  background-color: currentColor;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.ordering__terms-link:hover::after, .ordering__terms-link:focus-visible::after {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.ordering__icon-notice .valid {
  fill: rgb(87, 163, 0);
}
.ordering__icon-notice .invalid {
  fill: rgb(255, 60, 0);
}
.ordering__icon-notice :nth-child(n) {
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.ordering__text-input--with-notice:not(:-moz-placeholder-shown):valid ~ .ordering__icon-notice .valid, .ordering__text-input--with-notice:not(:-moz-placeholder-shown):invalid ~ .ordering__icon-notice .invalid {
  opacity: 1;
}

.ordering__text-input--with-notice:not(:-ms-input-placeholder):valid ~ .ordering__icon-notice .valid, .ordering__text-input--with-notice:not(:-ms-input-placeholder):invalid ~ .ordering__icon-notice .invalid {
  opacity: 1;
}

.ordering__text-input--with-notice:not(:placeholder-shown):valid ~ .ordering__icon-notice .valid, .ordering__text-input--with-notice:not(:placeholder-shown):invalid ~ .ordering__icon-notice .invalid {
  opacity: 1;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: "swap";
  src: url("../../fonts/roboto/v30/roboto-v30-latin-ext_latin_cyrillic-ext_cyrillic-regular.eot");
  src: local(""), url("../../fonts/roboto/v30/roboto-v30-latin-ext_latin_cyrillic-ext_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto/v30/roboto-v30-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff2") format("woff2"), url("../../fonts/roboto/v30/roboto-v30-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff") format("woff"), url("../../fonts/roboto/v30/roboto-v30-latin-ext_latin_cyrillic-ext_cyrillic-regular.ttf") format("truetype"), url("../../fonts/roboto/v30/roboto-v30-latin-ext_latin_cyrillic-ext_cyrillic-regular.svg#Roboto") format("svg");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: "swap";
  src: url("../../fonts/roboto/v30/roboto-v30-latin-ext_latin_cyrillic-ext_cyrillic-700.eot");
  src: local(""), url("../../fonts/roboto/v30/roboto-v30-latin-ext_latin_cyrillic-ext_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto/v30/roboto-v30-latin-ext_latin_cyrillic-ext_cyrillic-700.woff2") format("woff2"), url("../../fonts/roboto/v30/roboto-v30-latin-ext_latin_cyrillic-ext_cyrillic-700.woff") format("woff"), url("../../fonts/roboto/v30/roboto-v30-latin-ext_latin_cyrillic-ext_cyrillic-700.ttf") format("truetype"), url("../../fonts/roboto/v30/roboto-v30-latin-ext_latin_cyrillic-ext_cyrillic-700.svg#Roboto") format("svg");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: "swap";
  src: url("../../fonts/roboto/v30/roboto-v30-latin-ext_latin_cyrillic-ext_cyrillic-500.eot");
  src: local(""), url("../../fonts/roboto/v30/roboto-v30-latin-ext_latin_cyrillic-ext_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto/v30/roboto-v30-latin-ext_latin_cyrillic-ext_cyrillic-500.woff2") format("woff2"), url("../../fonts/roboto/v30/roboto-v30-latin-ext_latin_cyrillic-ext_cyrillic-500.woff") format("woff"), url("../../fonts/roboto/v30/roboto-v30-latin-ext_latin_cyrillic-ext_cyrillic-500.ttf") format("truetype"), url("../../fonts/roboto/v30/roboto-v30-latin-ext_latin_cyrillic-ext_cyrillic-500.svg#Roboto") format("svg");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-display: "swap";
  src: url("../../fonts/roboto/v30/roboto-v30-latin-ext_latin_cyrillic-ext_cyrillic-900.eot");
  src: local(""), url("../../fonts/roboto/v30/roboto-v30-latin-ext_latin_cyrillic-ext_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto/v30/roboto-v30-latin-ext_latin_cyrillic-ext_cyrillic-900.woff2") format("woff2"), url("../../fonts/roboto/v30/roboto-v30-latin-ext_latin_cyrillic-ext_cyrillic-900.woff") format("woff"), url("../../fonts/roboto/v30/roboto-v30-latin-ext_latin_cyrillic-ext_cyrillic-900.ttf") format("truetype"), url("../../fonts/roboto/v30/roboto-v30-latin-ext_latin_cyrillic-ext_cyrillic-900.svg#Roboto") format("svg");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-display: "swap";
  src: url("../../fonts/raleway/v28/raleway-v28-latin-ext_latin_cyrillic-ext_cyrillic-700.eot");
  src: local(""), url("../../fonts/raleway/v28/raleway-v28-latin-ext_latin_cyrillic-ext_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../../fonts/raleway/v28/raleway-v28-latin-ext_latin_cyrillic-ext_cyrillic-700.woff2") format("woff2"), url("../../fonts/raleway/v28/raleway-v28-latin-ext_latin_cyrillic-ext_cyrillic-700.woff") format("woff"), url("../../fonts/raleway/v28/raleway-v28-latin-ext_latin_cyrillic-ext_cyrillic-700.ttf") format("truetype"), url("../../fonts/raleway/v28/raleway-v28-latin-ext_latin_cyrillic-ext_cyrillic-700.svg#Raleway") format("svg");
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #757575;
}

.section-title {
  margin-bottom: 50px;
  font-size: 36px;
  color: #212121;
  text-align: center;
  line-height: 1.17;
}

.logo {
  display: block;
  font-family: "Raleway";
  font-size: 26px;
  color: #2196f3;
  text-decoration: none;
  line-height: 1.19;
}
.logo--theme-light .logo__suffix {
  color: black;
}
.logo--theme-dark .logo__suffix {
  color: white;
}

.work__thumb {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
}
.work__subtitle {
  margin-bottom: 4px;
  font-size: 18px;
  letter-spacing: 0.06em;
  color: #212121;
  line-height: 2;
}
.work__type {
  font-size: 16px;
  color: #757575;
  line-height: 1.88;
}
.work__desc {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.work__about {
  height: 168px;
  padding: 0 24px;
  font-size: 18px;
  color: white;
  line-height: 1.56;
  overflow: hidden;
}
.work__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.site-nav__link {
  display: block;
  padding: 32px 0;
  color: #212121;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link--current {
  position: relative;
  color: #2196f3;
}

.site-nav__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  display: block;
  background-color: #2196f3;
  border-radius: 2px;
}

.team-member__desc {
  padding: 30px 0;
  text-align: center;
}
.team-member__name {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #212121;
  line-height: 1.19;
}
.team-member__pos {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
}
.team-member__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.custom-check {
  display: block;
}
.custom-check__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.custom-check__input:focus-visible + .custom-check__label::before {
  -webkit-box-shadow: 0 0 0 3px rgba(33, 150, 243, 0.5);
          box-shadow: 0 0 0 3px rgba(33, 150, 243, 0.5);
}
.custom-check__input:checked + .custom-check__label::before {
  border-color: transparent;
  background-origin: border-box;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.95703 7.75166L3.88825 7.68604L3.81923 7.75141L2.93123 8.59258L2.85486 8.66492L2.93097 8.73753L6.42671 12.0724L6.49574 12.1382L6.56476 12.0724L14.069 4.91352L14.1449 4.84116L14.069 4.76881L13.1873 3.92764L13.1183 3.86183L13.0493 3.92761L6.49577 10.1735L3.95703 7.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2196f3;
}
.custom-check--centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.custom-check__label::before {
  content: "";
  display: block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  outline: unset;
  border: 2px solid #2f303a;
  border-radius: 2px;
  -webkit-transition-property: border-color, background-color, -webkit-box-shadow;
  transition-property: border-color, background-color, -webkit-box-shadow;
  transition-property: border-color, background-color, box-shadow;
  transition-property: border-color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__input:checked + .filter__label {
  color: white;
  background-color: #2196f3;
}
.filter__input:focus-visible + .filter__label {
  -webkit-box-shadow: 0 0 0 2px #2f303a;
          box-shadow: 0 0 0 2px #2f303a;
}

.socials-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.socials-link:hover, .socials-link:focus-visible {
  color: white;
  background-color: #2196f3;
}

.socials-link--theme-light {
  color: #afb1b8;
  background-color: unset;
}

.socials-link--theme-dark {
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
}

.scroll-off {
  margin: 0;
  height: 100%;
  overflow-y: hidden;
}

.container, .footer__container, .header__container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.14;
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__nav {
  margin-right: auto;
}
.header__logo {
  margin-right: 93px;
}
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__contact-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px 0;
  color: currentColor;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contact-icon {
  fill: currentColor;
}

.hero {
  height: 600px;
  max-width: 1600px;
  min-width: 1200px;
  margin: 0 auto;
  padding: 200px 0;
  background-color: #c4c4c4;
}
.hero--with-bgi {
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero-bg.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.hero__title {
  margin: 0 auto 30px auto;
  width: 696px;
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 0.06em;
  color: white;
  text-align: center;
  line-height: 1.36;
  text-transform: uppercase;
}
.hero__btn {
  min-width: 216px;
  margin: 0 auto;
}

.advantages {
  padding-top: 94px;
  padding-bottom: 0;
}
.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.advantages__list-item {
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
}

.advantage__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}
.advantage__icon {
  width: 70px;
  height: 70px;
}
.advantage__subtitle {
  margin-bottom: 10px;
  font-size: 14px;
  color: #212121;
  line-height: 1.14;
  text-transform: uppercase;
}
.advantage__text {
  font-size: 14px;
  line-height: 1.71;
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.services__list-item {
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
}

.service {
  position: relative;
}
.service__overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 700;
  color: white;
  line-height: 1.14;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  overflow: hidden;
  white-space: nowrap;
}

.team {
  min-width: 1200px;
  background-color: #f5f4fa;
}
.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.team__list-item {
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
}
.team__list-item {
  background-color: white;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.customers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.customers__list-item {
  -ms-flex-preferred-size: calc((100% - 150px) / 6);
      flex-basis: calc((100% - 150px) / 6);
}
.customers__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92px;
  color: #afb1b8;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid;
  border-radius: 4px;
}
.customers__logo {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.footer {
  height: 252px;
  min-width: 1200px;
  padding: 60px 0;
  background-color: #2f303a;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 93px;
}
.footer__logo {
  margin-bottom: 20px;
}
.footer__contacts :not(:last-child) {
  margin-bottom: 9px;
}
.footer__contact-link {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__subtitle {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  color: white;
  line-height: 1.14;
  text-transform: uppercase;
}
.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__contact-link--accent {
  color: white;
}

.subscribe {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 12px;
}
.subscribe__text-input {
  -ms-flex-preferred-size: 358px;
      flex-basis: 358px;
  padding-left: 16px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.25;
  background-color: transparent;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  outline: unset;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.subscribe__icon {
  width: 24px;
  height: 24px;
}

.subscribe__text-input:focus-visible, .subscribe__text-input:hover {
  border-color: #2196f3;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop--hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  -webkit-transform: scale(1) translate(-50%, -50%);
          transform: scale(1) translate(-50%, -50%);
  padding: 40px;
  background-color: white;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  font-size: 24px;
  color: #212121;
  line-height: 0;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal__title {
  display: block;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  color: #212121;
  text-align: center;
  line-height: 1.15;
  overflow: hidden;
  white-space: nowrap;
}

.backdrop--hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.8);
          transform: translate(-50%, -50%) scale(0.8);
}

.ordering__text-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  font-size: 12px;
  letter-spacing: 0.01em;
  line-height: 1.17;
}
.ordering__text-input {
  width: 100%;
  height: 40px;
  padding: 0 42px;
  outline: unset;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.ordering__field--required .ordering__label::after {
  content: "*";
  color: rgb(255, 60, 0);
}
.ordering__label {
  display: block;
  margin-bottom: 4px;
}
.ordering__input-wrapper {
  position: relative;
}
.ordering__field-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  fill: #212121;
  cursor: text;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.ordering__text-input--multiline {
  display: block;
  padding: 12px 16px;
  height: 120px;
  resize: none;
}
.ordering__btn {
  margin: 0 auto;
  min-width: 200px;
}
.ordering__check {
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 30px;
}
.ordering__terms-link {
  margin-left: 3px;
  color: #2196f3;
}

.ordering__text-input::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.ordering__text-input::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.ordering__text-input:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.ordering__text-input::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.ordering__text-input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.ordering__field:focus-within .ordering__text-input, .ordering__field:hover .ordering__text-input {
  border-color: #2196f3;
}
.ordering__field:focus-within .ordering__field-icon, .ordering__field:hover .ordering__field-icon {
  fill: #2196f3;
}

.ordering__icon-notice {
  position: absolute;
  top: 50%;
  right: 12px;
  width: 18px;
  height: 18px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.ordering__text-input--with-notice:not(:-moz-placeholder-shown):valid:hover, .ordering__text-input--with-notice:not(:-moz-placeholder-shown):valid:focus-visible {
  border-color: rgb(87, 163, 0);
}

.ordering__text-input--with-notice:not(:-ms-input-placeholder):valid:hover, .ordering__text-input--with-notice:not(:-ms-input-placeholder):valid:focus-visible {
  border-color: rgb(87, 163, 0);
}

.ordering__text-input--with-notice:not(:placeholder-shown):valid:hover, .ordering__text-input--with-notice:not(:placeholder-shown):valid:focus-visible {
  border-color: rgb(87, 163, 0);
}
.ordering__text-input--with-notice:not(:-moz-placeholder-shown):valid:hover ~ .ordering__field-icon, .ordering__text-input--with-notice:not(:-moz-placeholder-shown):valid:focus-visible ~ .ordering__field-icon {
  fill: rgb(87, 163, 0);
}
.ordering__text-input--with-notice:not(:-ms-input-placeholder):valid:hover ~ .ordering__field-icon, .ordering__text-input--with-notice:not(:-ms-input-placeholder):valid:focus-visible ~ .ordering__field-icon {
  fill: rgb(87, 163, 0);
}
.ordering__text-input--with-notice:not(:placeholder-shown):valid:hover ~ .ordering__field-icon, .ordering__text-input--with-notice:not(:placeholder-shown):valid:focus-visible ~ .ordering__field-icon {
  fill: rgb(87, 163, 0);
}
.ordering__text-input--with-notice:not(:-moz-placeholder-shown):invalid:hover, .ordering__text-input--with-notice:not(:-moz-placeholder-shown):invalid:focus-visible {
  border-color: rgb(255, 60, 0);
}
.ordering__text-input--with-notice:not(:-ms-input-placeholder):invalid:hover, .ordering__text-input--with-notice:not(:-ms-input-placeholder):invalid:focus-visible {
  border-color: rgb(255, 60, 0);
}
.ordering__text-input--with-notice:not(:placeholder-shown):invalid:hover, .ordering__text-input--with-notice:not(:placeholder-shown):invalid:focus-visible {
  border-color: rgb(255, 60, 0);
}
.ordering__text-input--with-notice:not(:-moz-placeholder-shown):invalid:hover ~ .ordering__field-icon, .ordering__text-input--with-notice:not(:-moz-placeholder-shown):invalid:focus-visible ~ .ordering__field-icon {
  fill: rgb(255, 60, 0);
}
.ordering__text-input--with-notice:not(:-ms-input-placeholder):invalid:hover ~ .ordering__field-icon, .ordering__text-input--with-notice:not(:-ms-input-placeholder):invalid:focus-visible ~ .ordering__field-icon {
  fill: rgb(255, 60, 0);
}
.ordering__text-input--with-notice:not(:placeholder-shown):invalid:hover ~ .ordering__field-icon, .ordering__text-input--with-notice:not(:placeholder-shown):invalid:focus-visible ~ .ordering__field-icon {
  fill: rgb(255, 60, 0);
}

.works__filters-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.works__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
}
.works__list-item {
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
}
.works__link {
  display: block;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.works__link:hover, .works__link:focus-visible {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.works__link:hover .work__overlay, .works__link:focus-visible .work__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}/*# sourceMappingURL=main.css.map */