.header {
  @include font($wt: 500, $sz: $mainFontSize, $lh: 16px, $ls: 0.02em);
  border-bottom: 1px solid #ececec;

  &__container {
    @extend .container;
    @include flexCenter("cross");
  }

  &__nav {
    // если так - заметен сдвиг во время загрузки
    // margin-left: 93px;
    margin-right: auto;
  }

  &__logo {
    margin-right: 93px;
  }

  &__contacts {
    @include flexCenter("cross", $gap: 50px);
  }

  &__contact-link {
    @extend %link;

    @include flexCenter("cross", $gap: 10px);
    padding: 32px 0;

    color: currentColor;
    @include mainTransition(color);
  }

  &__contact-icon {
    fill: currentColor;
  }
}
