%custom-link {
  position: relative;
  text-decoration: none;

  &::after {
    content: "";

    @include positioned($left: 0, $bottom: 4px, $width: 100%, $height: 1px);
    display: block;

    background-color: currentColor;
    transform: scaleX(1);
    @include mainTransition(transform);
  }

  &:hover::after,
  &:focus-visible::after {
    transform: scaleX(0);
  }
}
