// colors
$colorGreyLight: #f5f4fa;
$colorGreyDark: #2f303a;
$colorAccent: #2196f3;
$colorText: #757575;
$colorTextSec: #212121;
$colorLogoSuffixDark: black;
$colorLogoSuffixLight: white;
$colorHeroOverlay: rgba(47, 48, 58, 0.4);
$colorSuccess: rgb(87, 163, 0);
$colorWarn: rgb(255, 60, 0);

// font
$mainFontFamily: "Roboto", sans-serif;
$mainFontSize: 14px;
$mainFontLetterSpacing: 0.03em;

// layout
$containerWidth: 1200px;
$containerPaddingHor: 15px;
$sectionPaddingVer: 94px;
$sectionWidth: 1600px;
$heroHeight: 600px;
$footerHeight: 252px;

// animation
$mainTransitionDur: 250ms;
$mainTransitionFunc: cubic-bezier(0.4, 0, 0.2, 1);
